:root {
  --dark-color: #000000;
  --light-color: #d7d7d7;
}

.landpage {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(85,86,88);
  background: linear-gradient(240deg, rgba(85,86,88,1) 0%, rgba(33,34,36,1) 100%);
}
.titles {
  position: absolute;
  top: 1%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.info-titles{
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.info-titles > p {
  font-size: 1.3rem;
}
p{
  margin: 0;
  padding-bottom: 8px;
}
h2 {
  font-size: 2rem;
  color: var(--light-color);
  text-align: center;
}
.img-logo{
  height: 230px;
  width: auto;
}
.botonera {
  margin-top: 240px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14rem;
}
.btnData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  transition: all 0.6s;
}
.icon{
  display: flex;
  aspect-ratio: 1/1;
  transition: all 0.7s;
  font-size: 7rem;
}
.url-text{
  font-size: 2.6rem;
}
a{
  margin: 0;
  font-size:4rem;
  align-self: center;
  color: var(--light-color);
  text-decoration: none;
}

#Whatsapp{
  color: #25D366;
}
#Telegram{
  color: #0088CC;
}
#Webpage{
  color: #000;
}
.btnData:hover{
  transform: scale(1.05);
  filter: brightness(120%);
}
@media all and (orientation: portrait) { 
  .botonera{
    width: fit-content;
    max-width: 80%;
  }
  .url-text{
    font-size: 7vw;
  }
  a{
    width: 28%;
  }
  .landpage{
    padding-top: 24px;
  }
  .img-logo{
    width: 80%;
    height: auto;
  }
}
@media all and (orientation: landscape) { 
  a{
    width: 30%;
  }

 }